.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* Square */
.square {
  width: 300px;
  height: 300px;
  background-color: #ffd200;
  /* yellow */
  border: 3px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circle */
.circle {
  width: 220px;
  height: 220px;
  background-color: #0b63e6;
  /* blue */
  border: 3px solid black;
  border-radius: 50%;
}